#app {
    display:flex;
    flex-direction: row;
    font-family: sans-serif;
    min-height: 20vh;
    max-height: 60vh;
}

.puppy-names {
    display: grid;
    width:50%;
    height: fit-content;
}

.puppy-name-item {
    display: flex;
    flex-direction: row;
}

.puppy-details{
    display: grid;
    width: 50%;
    height: fit-content;
}

.puppy-details img{
    max-width:75%;
    max-height: 70%;
}

.puppy_name_img {
    max-width: 40%;
    height: 60%;
}